*
{
    margin: 0;
    padding: 0;
    
}

.canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.webgl{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* @media screen and (max-width:1000px){
    body {
        margin-top: 200px;
    }
  
    .webgl{
        height: 220px;
    }
} */



